/* CSS for the reviews - controls how the park cars and photos display */

.parkCard {
    height: 100%;
    
  }
  
  .parkCardPhoto {
    max-width: 100%;
    height: 50%;
   
  }
  
  .parkCardBody {
    height: 50%;
  }
  